<!DOCTYPE html>
<html>
  <head>
    <title>Sssytem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_pack_tag "style", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>    
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  </head>

  <body class="bg-gray-100">
    <%= render "layouts/shared/header" %>
    <!-- strat wrapper -->
    <div class="h-screen flex flex-row flex-wrap">
      <%= render "layouts/shared/side" %>
      <%= yield %>
    </div>
    <!-- end wrapper -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <%= javascript_pack_tag "scripts", 'data-turbolinks-track': "reload" %>

  </body>
</html>
